<section class="h-screen">
  <div class="h-full">
    <!-- Left column container with background-->
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between"
    >
      <div
        class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12"
      >
        <img
          src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="w-full p-10"
          alt="Sample image"
        />
      </div>

      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
        <div class="my-8 text-center">
          <h1 class="text-6xl text-black opacity-60 font-light">
            Welcome to your <br />
            professional <br />
            community
          </h1>
        </div>
        <form class="mr-16" [formGroup]="loginForm">
          <span class="p-float-label">
            <input
              class="w-full"
              pInputText
              id="email"
              inputStyleClass="!p-3"
              formControlName="email"
            />
            <label htmlFor="email">Email</label>
          </span>
          <div
            class="mt-2 text-sm text-red-500"
            *ngIf="email?.touched && email?.errors?.['error']"
          >
            <p>{{ email.errors?.['message'] || '' }}</p>
          </div>

          <span class="!mt-8 p-float-label">
            <p-password
              styleClass="w-full"
              inputStyleClass="w-full"
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
            ></p-password>
            <label for="password">Password</label>
          </span>

          <div
            class="mt-2 text-sm text-red-500"
            *ngIf="password?.touched && password?.errors?.['error']"
          >
            <p>{{ password.errors?.['message'] || '' }}</p>
          </div>

          <div class="text-center mt-5">
            <p-button
              [disabled]="loginForm.invalid"
              (onClick)="onLogin()"
              label="Submit"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
