@tailwind base;
@tailwind components;
@tailwind utilities;

$scroll-color: #00000038;
$white-100-color: #f1f1f1;

// [TODO] Replace fonts file
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family:  'Noto Sans', -apple-system, sans-serif;
}

.blendbridge-input {
  padding: 0.725rem 1rem !important;
  border-radius: 8px !important;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white-100-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scroll-color;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scroll-color;
}
